<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shrimp Alfredo Recipe</title>
    <nav>
        <ul>
            <li><a href="/">Index</a></li>
            <li><a href="/cinnamonrolls">Cinnamon Rolls</a></li>
            <li><a href="/crabcakes">Crabcakes</a></li>
        </ul>
    </nav>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<br><br>
<h1><emphasis>Shrimp Alfredo Recipe</emphasis></h1>
<h3><emphasis>Ingredients: </emphasis></h3>
<ul>
    <img src="https://res.cloudinary.com/db9bfssj4/image/upload/v1557415065/cx5dh6x1bpwfiedutebk.jpg" alt="Shirmp Alfredo" height="300" width="300">

    <li>8 ounces uncooked fettuccine</li>
    <li>1/4 cup butter, cubed</li>
    <li>1-1/2 cups heavy whipping cream</li>
    <li>1 pound cooked medium shrimp, peeled and deveined</li>
    <li>3/4 cup grated Parmesan cheese</li>
    <li>1 garlic clove, minced</li>
    <li>1/4 teaspoon pepper</li>
    <li>1 teaspoon minced fresh parsley</li>
</ul>
<br>
<h3><emphasis>Directions: </emphasis></h3>
<ol>
    <li>Cook fettuccine according to package directions. Meanwhile, in a large saucepan, melt butter over medium heat. Stir in cream. Bring to a gentle boil. Reduce heat; simmer, uncovered, for 3 minutes, stirring constantly.</li>
    <li>Add the shrimp, cheese, garlic and pepper; cook and stir until heated through. Drain fettuccine; toss with shrimp mixture. Sprinkle with parsley.</li>
</ol>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>